.quote {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: small;
    margin: 5rem;
    margin-left: 1rem;
    color: #1f1f1f;
    width: 50rem;
    text-align: end;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }