.quote, .author {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: small;
  margin: 5rem;
  margin-left: 1rem;
  color: #1f1f1f;
  width: 50rem;
  text-align: end;
  letter-spacing: 3px;
  font-size: smaller;
}

.author {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: small;
  margin: 5rem 5rem 3rem;
  color: #1f1f1f;
  width: 50rem;
  text-align: end;
  opacity: 0;
  font-size: smaller;
  text-transform: uppercase;
}


/* fade in */
.quote {
  opacity: 0;
  animation: fadeIn 5s forwards 2s;
}

.author {
  opacity: 0;
  animation: fadeIn 5s forwards 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* resolution settings */
/* FHD */
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .quote, .author {
    margin-bottom: 40px;
    font-size: 0.65rem;
    letter-spacing: 0.2rem;
  }
  .author {
    margin-bottom: 20px;
  }
}