* {
  box-sizing: border-box;
  cursor: default;
}

html {
  line-height: 1.5;
  color: #1f1f1f;
  background-color: #f4f4f4;
  -webkit-text-size-adjust: 100%;
  min-height: 90%;
  letter-spacing: 20px;
  margin: 5rem;
}

body {
  margin: 0;
  overflow: hidden;
}

#examples menu {
  margin: 1rem 10rem;
  padding: 0;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.verticalline {
  position: absolute;
  width: 5px;
  height: 400px;
  margin-left: 700px;
  margin-top: 250px;
  background: linear-gradient(to top, transparent, #e6e6e6 50%, #e6e6e6 50%, transparent);
}

#examples menu button {
  position: absolute;
  margin: 10rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease-in-out;
  letter-spacing: 10px;
  background: none;
}

#examples menu button:hover {
  font-size: larger;
  font-weight: bolder;
}

#examples menu button.active {
  font-weight: bolder;
}

#tab-content {
  width: 20rem;
  height: 500px;
  position: relative;
  margin-top: -20rem;
  margin-left: 50rem;
  text-align: left;
  border-radius: 6px;
  letter-spacing: 5px;
  line-height: 20px;
}

