li {
/* menu animations */
  opacity: 0;
  animation: fadeIn 5s forwards 1s;
}

#examples menu {
  position: relative;
  bottom: 9.5rem;
  list-style: none;
  left: 2rem;
}

#examples menu button {
  position: relative;
  left: 5rem;
  bottom: 1.5rem;
  border: none;
  letter-spacing: 0.75vh;
/* menu animations */
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
  background-color: transparent;
}

.verticalline {
  position: relative;
  background: linear-gradient(to top, transparent, #cccccc 50%, #cccccc 50%, transparent);
  height: 33vh;
  width: 3px;
  left: 40vh;
  top: 10vh;
}

/* menu animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#examples menu button:hover {
  transform: scale(1.1);
  font-weight: bolder;
}

#examples menu button.active {
  transform: scale(1.1);
  font-weight: bolder;
} 

.verticalline {
  opacity: 0;
  animation: fadeIn 5s forwards 3s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}