.about,
.about-2,
.about-3 {
  text-align: justify;
  font-size: smaller;
  letter-spacing: 0.438rem;
  position: relative;
}

.about {
  text-align: end;
  background: linear-gradient(to bottom, #e7e7e7, #1f1f1f);
  -webkit-background-clip: text;
  color: transparent;
  left: 50%;
  top: -50px;
}

.about-2 {
  background: linear-gradient(to left, #1f1f1f, rgb(0, 0, 0), #1f1f1f);
  -webkit-background-clip: text;
  color: transparent;
  left: 150%;
  top: -50px;
}

.about-3 {
  text-align: start;
  background: linear-gradient(to top, #e7e7e7, #1f1f1f);
  -webkit-background-clip: text;
  color: transparent;
  left: 250%;
  top: -50px;
}

.first-part,
.sec-part,
.thrd-part {
  position: relative;
  width: 31.25rem;
  height: 31.25rem;
  letter-spacing: 0.5rem;
}

.first-part {
  margin-top: -50rem;
  margin-left: 0rem;
}

.sec-part {
  margin-top: -20rem;
  margin-left: 10rem;
}

.thrd-part {
  margin-top: -20rem;
  margin-left: 20rem;
}

/* fade in */
#aboutme {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* resolution settings */
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .about,
  .about-2,
  .about-3 {
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
  }

  .about {
    text-align: end;
    top:  0px;
    left: -50%; /* Adjust the left position as needed */
  }

  .about-2 {
    position: relative;
    text-align:justify;
    top: 0px;
    left: 50%; /* Adjust the left position as needed */
  }

  .about-3 {
    text-align: start;
    top:  0px;
    left: 150%; /* Adjust the left position as needed */
  }
}