.about,
.about-2,
.about-3 {
  text-align: justify;
  font-size: larger;
  letter-spacing: 1rem;
  position: relative;
  width: 400px;
}

.about {
  text-align: end;
  background: linear-gradient(to bottom, #ababab, #1f1f1f);
  -webkit-background-clip: text;
  color: transparent;
  left: 50%;
}

.about-2 {
  background: linear-gradient(to left, #1f1f1f, rgb(0, 0, 0), #1f1f1f);
  -webkit-background-clip: text;
  color: transparent;
  left: 175%;
}

.about-3 {
  text-align: start;
  background: linear-gradient(to top, #ababab, #1f1f1f);
  -webkit-background-clip: text;
  color: transparent;
  left: 300%;
}

.first-part,
.sec-part,
.thrd-part {
  position: relative;
  width: 31.25rem;
  height: 31.25rem;
  letter-spacing: 0.5rem;
}

.first-part {
  margin-top: -50rem;
  margin-left: 0rem;
}

.sec-part {
  margin-top: -20rem;
  margin-left: 10rem;
}

.thrd-part {
  margin-top: -20rem;
  margin-left: 20rem;
}

/* fade in */
#aboutme {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

