header {
  margin: 5rem 10rem;
}

/* fade in */
header {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

header h1 {
  margin: 0 -5rem;
  font-size: 5rem;
  color: #1f1f1f;
}

header p {
  position: relative;
  margin: 0rem -1rem;
  font-size: 1.25rem;
  color: #1f1f1f;
}


/* underline */
.under-name { 
  width: 30%;
  position: relative;
  margin-left: -3rem;
  margin-top: -0.5rem;
  border: 0;
  height: 3px;
  background: linear-gradient(to right, #f4f4f4, #e6e6e6, #f4f4f4);
}


/* resolution settings */
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  header {
    margin: 0rem auto;
    max-width: 1600px;
  }
  header h1 {
    font-size: 3rem;
  }
  header p {
    font-size: 0.85rem;
    margin-left: -4.8rem;
  }
  .under-name {
    height: 2px;
    margin-left: -4.8rem;
  }
}