header {
  position: relative;
  margin: 10vh 40vh;
  transform: scale(1.5);
}

header p {
  position: relative;
  top: 1vh;
  top: -2vh;
}

.under-name {
  position: relative;
  width: 33vh;
  margin-left: 20vh;
  bottom: 14vh;
  height: 2px;
  border: none;
  background: linear-gradient(to right, transparent, #cccccc, transparent);
}

/* animations */
header {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

.under-name {
  opacity: 0;
  animation: fadeIn 5s forwards 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header p {
  left: -12vh;
  transform: scale(.75);
}