.difficulty-sections {
  display: flex;
  transform: scale(.85);
  justify-content: center;
}

.difficulty-section {
  position: relative;
  bottom: 44rem;
  left: 12.5rem;
  text-align: center;
  line-height: 1rem;
  width: 23rem;
  margin-left: 0.5rem;
  transform: scale(.75);
  letter-spacing: 0.5rem;
}

.difficulty-name {
  position: relative;
  margin-bottom: 3rem;
}

.links {
  position: relative;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #1f1f1f;
  font-weight: bold;
  background: none;
  border: none;
  transition: color 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transform: scale(1.2);
}

.custom-hr {
  position: relative;
  margin-bottom: 0.5rem;
  border: none;
  height: 4px;
  background: linear-gradient(to right, #f4f4f4, #cccccc, #f4f4f4);
}

.level-hr {
  position: relative;
  top: -28rem;
  width: 60rem;
  border: none;
  left: 10rem;
  height: 3px;
  background: linear-gradient(to right, #f4f4f4, #cccccc, #f4f4f4);
}



/* scroll */
.scroll-container-beginner,
.scroll-container-intermediate,
.scroll-container-expert {
  text-align: center;
  height: 31.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1rem;
  transition: max-height 0.3s ease;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scroll-container-beginner::-webkit-scrollbar,
.scroll-container-intermediate::-webkit-scrollbar,
.scroll-container-expert::-webkit-scrollbar {
  width: 0rem;
}

.scroll-container-beginner::-webkit-scrollbar-thumb,
.scroll-container-intermediate::-webkit-scrollbar-thumb,
.scroll-container-expert::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-container-beginner::-webkit-scrollbar-track,
.scroll-container-intermediate::-webkit-scrollbar-track,
.scroll-container-expert::-webkit-scrollbar-track {
  background-color: transparent;
}

.difficulty-section:hover .scroll-container-beginner,
.difficulty-section:hover .scroll-container-intermediate,
.difficulty-section:hover .scroll-container-expert {
  height: 31rem;
  overflow-y: auto;
}



/* animations */
.links:hover {
  color: #000000;
  text-decoration: none;
  transform: scale(1.3);
  width: 15rem;
}

.links:active {
  color: #1f1f1f;
}

.projects {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

