.projects {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 25rem;
  margin-left: 4.375rem;
  font-size: auto;
  line-height: 1.5;
}

.difficulty-sections {
  display: flex;
  font-size: 1rem;
}

.difficulty-section {
  margin-right: 1.25rem;
  overflow: hidden;
  text-align: center;
}

.scroll-container-beginner,
.scroll-container-intermediate,
.scroll-container-expert {
  text-align: center;
  height: 31.25rem;
  width: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.938rem;
  transition: max-height 0.3s ease;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scroll-container-beginner::-webkit-scrollbar,
.scroll-container-intermediate::-webkit-scrollbar,
.scroll-container-expert::-webkit-scrollbar {
  width: 0.75rem;
}

.scroll-container-beginner::-webkit-scrollbar-thumb,
.scroll-container-intermediate::-webkit-scrollbar-thumb,
.scroll-container-expert::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.625rem;
}

.scroll-container-beginner::-webkit-scrollbar-track,
.scroll-container-intermediate::-webkit-scrollbar-track,
.scroll-container-expert::-webkit-scrollbar-track {
  background-color: transparent;
}

.difficulty-section:hover .scroll-container-beginner,
.difficulty-section:hover .scroll-container-intermediate,
.difficulty-section:hover .scroll-container-expert {
  height: 31.25rem;
  overflow-y: auto;
}

.beginner,
.intermediate,
.expert {
  width: 25rem;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
}

.links {
  color: #1f1f1f;
  font-weight: bold;
  background: none;
  height: 2.5rem;
  width: 12.5rem;
  border-radius: 25px;
  border: none;
  letter-spacing: 0.313rem;
  transition: color 0.2s ease-in-out;
  font-size: small;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  margin-top: 1rem;
}

.links:hover {
  color: #000000;
  text-decoration: none;
  border: none;
  outline: none;
  transform: scale(1.1);
  width: 15.625rem;
  -webkit-filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.5));
}

.links:active {
  color: #1f1f1f;
}

.custom-hr {
  position: relative;
  margin-top: .875rem;
  border: 0;
  height: 3px;
  background: linear-gradient(to right, #f4f4f4, #e6e6e6, #f4f4f4);
}

/* fade in */
.projects {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

/* resolution settings */
/* FHD */
@media only screen and (width: 1920px) and (height: 1080px) {
  .difficulty-sections {
    -webkit-transform: translateX(-50%);
    transform: translateX(-27rem);
    margin-top: 0rem;
    max-height: 25rem;
    font-size: 0.65rem;
  }

  .links {
    margin-top: 10px;
    font-size: 0.65rem;
  }

  .scroll-container-beginner,
  .scroll-container-intermediate,
  .scroll-container-expert {
    text-align: center;
    max-height: 25rem;
    width: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.938rem;
    transition: max-height 0.3s ease;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .links:hover {
    color: #000000;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 0.8rem;
    width: 15.625rem;
  }
}

/* 2K */
@media only screen and (width: 2560px) and (height: 1440px) {
  .difficulty-sections {
    -webkit-transform: translateX(-27rem);
    transform: translateX(-27rem);
    margin-left: 5rem;
    margin-top: 3rem;
    max-height: 30rem;
    transform: scale(1.1);
  }
  .links {
    margin-top: 10px;
    transform: scale(1);
  }

  .scroll-container-beginner,
  .scroll-container-intermediate,
  .scroll-container-expert {
    text-align: center;
    max-height: 25rem;
    width: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.938rem;
    transition: max-height 0.3s ease;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .links:hover {
    color: #000000;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 0.8rem;
    width: 15.625rem;
  }
}
