.level-sections {
  position: relative;
  display: flex;
  text-align: center;
  left: 45rem;
  bottom: 40rem;
  width: 50%;
  transform: scale(0.75);
}

.education-item {
  margin-top: 10px;
  transform: scale(0.75);
  letter-spacing: 5px;
  line-height: 1.5rem;
}


/* animations */
.educations {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}