.contact {
  position: relative;
  display: flex;
  left: 30%;
  bottom: 350px;
}

.contact-icon {
  position: relative;
  margin-left: 10rem;
  width: 50px;
  height: 50px;
  color: #1f1f1f;
  transition: 0.25s;
  z-index: 1;
}

.contact-icon svg {
  width: 50px;
  height: 50px;
  z-index: 1;
  transition: 0.25s;
}




/* animations */
.contact-icon:hover {
  transform: scale(1.2);
  transition: 0.25s;
}

.contact-icon svg:hover {
  transform: scale(1.2);
  transition: 0.25s;
}

.contact {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

